body {
  background-color: white;
}
a {
  color: #921f37;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
header {
  padding: 0 0 30px 0;
}

footer {
  padding: 40px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 0.5;
}
.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/160/016/original/lele.jpeg?1741784264");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  margin: 70px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
}
.searchBox {
  display: inline;
}
.searchBox {
  background-color: rgba(166, 93, 115, 0.4);
  color: white;
  border: none;
  border-radius: 7px;
  width: 70%;
  padding: 20px;
  font-size: 14px;
}
.searchButton {
  background-color: #f8846f;
  color: white;
  border: none;
  border-radius: 7px;
  width: 25%;
  padding: 20px 10px;
  font-size: 14px;
}
.resultData {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.cityData {
  margin: 18px 0;
  font-size: 60px;
  line-height: 48px;
  font-family: "Nothing You Could Do", cursive;
}
.detailsData {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 20px;
}
.detailsData strong {
  color: #921f37;
}
.temperatureData {
  display: flex;
}
.emojiData {
  width: 88px;
  height: 100px;
}
.degreesData {
  font-size: 88px;
  font-weight: bold;
}
.unitData {
  font-size: 22px;
  margin-top: 24px;
}
.comentData {
  text-align: right;
  font-size: 10px;
}
.comentData strong {
  color: #921f37;
}
.weatherWeek {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
}
.weatherDate {
  color: #506375;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weatherIcon {
  width: 58px;
  height: 58px;
  display: block;
  margin: 0 auto;
}
.weatherTemperatures {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #921f37;
  margin-top: 10px;
}
.weatherTemperature {
  padding: 0 10px;
}
.infoOya {
  font-family: "Nothing You Could Do", cursive;
  font-weight: bold;
  font-size: 16px;
  color: #506375;
  line-height: 50px;
}
